<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>

  <tbody>
    <%= render 'new' %>
    <div id="post-list">
      <%= render @posts %>
      <%= paginate @posts %>
    </div>
  </tbody>
</table>

<br>
